name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          IMAGE_TAG=${GITHUB_SHA}
          docker build -t todo-app:${IMAGE_TAG} .
          docker tag todo-app:${IMAGE_TAG} todo-app:latest

      - name: Apply Kubernetes Deployment & Service
        run: |
          kubectl apply -f k8s-deployment.yaml
          kubectl apply -f k8s-service.yaml

      - name: Restart Deployment to use latest image
        run: kubectl rollout restart deployment todo-deployment
